﻿@model PhotoAlbum.Domain.Post
           
<script type="text/javascript">
    $().ready(function () {
        $("form[action$='AddComment']").live("submit", function () {
            $.post(
                $(this).attr("action"),
                $(this).serialize(),
                function (response) {
                    if (response.Result == "ok") {
                        $(response.CommentHtml).hide().prependTo("#comment-list").fadeIn(1000);
                        $("#add-comment").html(response.FormHtml);
                        $("#Detail").val("");
                    }
                    else {
                        $("#add-comment").html(response.FormHtml);
                    }
                });
            return false;
        });

        $("#load-more").live("click", function () {
            $.post(
                '@Url.Action("CommentList")',
                { postId: '@Model.PostId', skip : $(this).data("loadedComments"), limit : 5, totalComments: @ViewBag.TotalComments },
                function (response) {
                    $("#comment-list").find("#load-more").parent().replaceWith($(response).fadeIn(1000));
                }
            );
        });

        $(".remove-comment").live("click", function () {
            var comment = $(this).parent();
            $.post(
                '@Url.Action("RemoveComment")',
                { postId : '@Model.PostId', commentId : $(this).data("id") },
                function () {
                    comment.fadeOut(1000, function() { $(this).remove(); });
                }
            );
        });
    });
</script>
@{
    ViewBag.Title = "Detail";
}

<h2>@Model.Title</h2>

<p>
    <em>Posted at @Model.Date.ToLocalTime().ToString() by @Model.Author</em>
</p>

<p>
    @Html.Raw(Model.Details)
</p>

<div id="add-comment">
    @Html.Partial("AddComment", new PhotoAlbum.Domain.Comment())
</div>

<h3>Comments</h3>
<div id="comment-list">
    @if (Model.Comments != null)
    {
        Html.RenderPartial("CommentList", Model.Comments);
    }
</div>